@model api_mvc.Models.TournamentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-center">Create Tournament</h4>
<hr />
<div class="row text-center">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group custom-margin">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group custom-margin">
                <label asp-for="PlayersNumber" class="control-label">Player's Limit</label>
                <input asp-for="PlayersNumber" class="form-control" />
                <span asp-validation-for="PlayersNumber" class="text-danger"></span>
            </div>
            <div class="form-group custom-margin">
                <label asp-for="RoundsNumber" class="control-label">Total Rounds</label>
                <input asp-for="RoundsNumber" class="form-control" />
                <span asp-validation-for="RoundsNumber" class="text-danger"></span>
            </div>
            <div class="form-group custom-margin">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
    .custom-margin {
        margin-bottom: 1rem; /* Ajuste o valor conforme necessário */
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
